

@keyframes heroSlider {

  0%, 100% {
    background-image:
      linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
      url("living-room area.jpg");
  }

  33% {
    background-image:
      linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
      url("bedroom.png");
  }

  66% {
    background-image:
      linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
      url("kitchen.png");
  }
}
